<header class="h-100"  id="home">
    <mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar intro-fixed-nav" [containerInside]="true">
        <mdb-navbar-brand>
            <a class="navbar-brand" href="#">
                <img src="assets/img/header-brand.png" height="30" alt="">
            </a>     
        </mdb-navbar-brand>
        <links>
          <ul class="navbar-nav mr-auto">
            <li class="nav-item waves-light" mdbWavesEffect>
              <a class="nav-link" href="#me">ME
              </a>
            </li>
            <li class="nav-item waves-light" mdbWavesEffect>
              <a class="nav-link" href="#exp">EXP</a>
            </li>
            <li class="nav-item waves-light" mdbWavesEffect>
              <a class="nav-link" href="#contact">CONTACT</a>
            </li>
          </ul>
        </links>
      </mdb-navbar>
    <!-- Main -->
    <div class="view">
      <div class="full-bg-img">
          <div class="mask rgba-black-strong flex-center">
              <div class="container">
                  <div class="row mt-5">
                      <div class="col-md-12 mb-3">
                          <div class="text-center">
                              <h1 class="display-1 mb-2 wow fadeInDown" data-wow-delay="0.3s"><a class="font-bold white-text">VILPPU</a> </h1>
                              <h1 class="display-1 mb-2 wow fadeInDown onTop" data-wow-delay="0.3s"> <a class="pink-text font-bold">SIMILÄ</a></h1>
                              <h3 class="font-up mb-3 mt-1 font-bold wow fadeInDown text-white" data-wow-delay="0.4s" >Web developer</h3>
                              <a type="button" class="btn btn-blu btn-lg wow fadeInDown" data-wow-delay="0.4s" href="#me"><i class="fa fa-arrow-down"></i></a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
    <!-- /.Main -->
</header>
<!--Main Layout-->
<main class="text-center py-5" id="me">

  <div class="container">
      <div class="row">
          <div class="col-md-12">

              <p align="justify"></p>

          </div>
      </div>

      <!--Section: Features v.3-->
    <section class="about">

      <!--Section heading-->
      <h2 class="h1 py-5 font-weight-bold text-center">Lyhyesti</h2>
      <!--Section description-->

      <div class="row pt-2">

          <!--Grid column-->
          <div class="col-lg-4 text-center text-lg-left ">
                <img src="assets/img/clean.png" alt="me" class="img-fluid z-depth-0 rounded clean">
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-7">

              <!--Grid row-->
              <div class="row pb-3">
                  <div class="col-12">
                    <p class="px-5 mb-5 pb-3 lead grey-text text-left">Olen 28-vuotias mediatekniikan insinööri Lestijärveltä. Valmistuin insinööriksi 30.5.2016
                        Jyväskylän ammattikorkeakoulusta. Web-kehityksen parissa olen ollut töissä Preoni Oy:ssa, jossa myös suoritin opinnäytetyöni hakukoneoptimoinnista.
                    </p>
                  </div>
              </div>
              <!--Grid row-->

              <!--Grid row-->
              <div class="row pb-3">
                  <div class="col-12">
                      <p class="px-5 mb-5 pb-3 lead grey-text text-left">     
                            Kiinnostuksiini ammatillisesti kuuluu web-kehitys, graafinen suunnittelu sekä 3D-mallinnus. Pyrkimyksenäni on tuottaa visuaaliselta ilmeeltään tyylikkäitä ja näyttäviä sivustoja.
                            Harrastan satunnaisesti urheilua, kuten lenkkeilyä ja kuntosalia. Muu vapaa-aika menee elokuvien ja pelien
                            parissa. Ja tietysti koodailu.</p>
                  </div>
              </div>
              <!--Grid row-->

          </div>
          <!--Grid column-->

      </div>
      <!--Grid row-->

    </section>
    <!--Section: Features v.3-->
</div>
<!-- End First Container -->
<!--Second container-->
<div class="container-fluid experience" id="exp">
        <div class="container py-4 pt-4">
                
            <!-- Second section -->
            <section id="skills">
                
                <!-- First row -->
                <div class="row py-5">
                
                    <!--First column-->
                    <div class="col-lg-6 col-md-12 mb-3 wow fadeIn" data-wow-delay="0.4s">
                    
                    <!--Section heading-->
                    <div class="d-flex justify-content-start">
                        <h4 class="text-uppercase mb-5 pb-3 mt-4 wow fadeIn" data-wow-delay="0.2s">My <strong>EXP</strong></h4>
                    </div>
                        

                         <!--Description-->
                        <blockquote class="blockquote bq-warning">
                            <div class="row"> <i class="fa fa-briefcase fa-x mb-1 mr-3 ml-3 pink-text" aria-hidden="true"></i>
                                <h5 class="font-weight-bold mb-3 text-left">Web developer</h5> </div>
                            <p class="font-weight-bold ml-1 white-text mb-2 text-left"><strong>Preoni Oy 17.1.2016-1.1.2017</strong></p>
                            <p class="mb-0 ml-1 light-grey-text text-left">WWW-sivujen tekeminen, Web-pohjaiset sovellukset. Sivustojen päivittämi-
                                    nen ja ylläpito.</p>
                        </blockquote>

                        <blockquote class="blockquote bq-warning">
                                <div class="row"> <i class="fa fa-briefcase fa-x mb-1 mr-3 ml-3 pink-text" aria-hidden="true"></i>
                                    <h5 class="font-weight-bold mb-3 text-left">Työharjoittelu <br>web-kehittäjänä</h5> </div>
                                <p class="font-weight-bold ml-1 white-text mb-2 text-left"><strong>Preoni Oy 17.8.2015-17.1.2016</strong></p>
                                <p class="mb-0 ml-1 light-grey-text text-left">WWW-sivujen tekeminen, Web-pohjaiset sovellukset. Sivustojen päivittämi-
                                        nen ja ylläpito.</p>
                        </blockquote>
                                                        
                        <blockquote class="blockquote bq-warning mb-4">
                            <div class="row"> <i class="fa fa-briefcase fa-x mb-1 mr-3 ml-3 pink-text" aria-hidden="true"></i>
                                <h5 class="font-weight-bold mb-3">Mediatekniikan insinööri</h5> 
                            </div>
                            <p class="font-weight-bold ml-1 white-text mb-2 text-left">Jyväskylän ammattikorkeakoulu 5.2016</p>
        
                        </blockquote>
                    </div>
                    <!--/First column-->

                    <!--Second column-->
                    <div class="col-lg-5 offset-lg-1 col-md-12 mb-4 wow fadeIn" data-wow-delay="0.4s">

                    <!--Second heading-->
                    <div class="d-flex justify-content-start">
                        <h4 class="text-center text-uppercase mb-5 pb-3 mt-4 wow fadeIn" data-wow-delay="0.2s"><strong>Skills</strong></h4>
                    </div>
                        
                        <!--Description-->
                        <p class="black-text text-uppercase font-weight-bold" align="justify">Java Script</p>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 70%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>

                        <p class="black-text text-uppercase font-weight-bold pt-3" align="justify">CSS3</p>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            
                        <p class="black-text text-uppercase font-weight-bold pt-3" align="justify">HTML5</p>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        
                        <p class="black-text text-uppercase font-weight-bold pt-3" align="justify">Bootstrap</p>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        
                        <p class="black-text text-uppercase font-weight-bold pt-3" align="justify">PHP</p>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 53%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>

                        <p class="black-text text-uppercase font-weight-bold pt-3" align="justify">Wordpress</p>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 70%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        
                        <p class="black-text text-uppercase font-weight-bold pt-3" align="justify">Angular</p>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 20%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        
                        <p class="black-text text-uppercase font-weight-bold pt-3" align="justify">React</p>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 5%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        
                    </div>
                    <!--/Second column-->

                </div>
                <!--/First row-->

            </section>
            <!-- /.Second section -->
            
        </div>
    </div>

  <div class="container contact">
    <!-- Third container -->
    <!--Section: Contact v.2-->
  
  <!--Section heading-->
  <h2 class="text-center h1 py-5">Establish connection</h2>
  
 <section class="team-section text-center my-5" id="contact">

        <!-- Section heading -->
        <h2 class="h1-responsive font-weight-bold my-5">

        </h2>
        <!-- Section description 
        <p class="grey-text w-responsive mx-auto mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam iure provident voluptate esse quasi,
            veritatis totam voluptas nostrum quisquam eum porro a pariatur veniam.</p>
        -->
        <!-- Grid row -->
        <div class="row text-center justify-content-center">

            <!-- Grid column -->
            <div class="col-md-4 mb-md-0 mb-5">
                <div class="avatar mx-auto mask rgba-pink-strong, rgba-pink-strong:after">
                    <img src="assets/img/me.png" class="my-face rounded z-depth-1-half" alt="Sample avatar">
                </div>
                <h4 class="font-weight-bold pink-text my-4">Vilppu Similä</h4>
                <h6 class="text-uppercase grey-text mb-3">
                    <strong>Front-end developer</strong>
                </h6>

            </div>
            <!-- Grid column -->

            <!--Grid column-->
            <div class="col-md-4 col-xl-3 text-center">
                <ul class="list-unstyled">

                    <li>
                        <i class="fa fa-map-marker fa-2x pink-text"></i>
                        <p class="grey-text">Jyväskylä 40740, Suomi</p>
                    </li>
                    <li>
                        <a href="mailto:ilpopa@hotmail.com" type="button">
                            <i class="fa fa-envelope fa-2x mt-4 pink-text"></i>
                            <p class="grey-text">ilpopa@hotmail.com</p>
                        </a>
                    </li>
                    <li>
                        <a type="button" href="https://github.com/ilpopa">
                             <i class="fa fa-github fa-2x mt-4 pink-text"></i>
                            <p class="grey-text">github.com/ilpopa</p>
                        </a>
                    </li>
                </ul>
            </div>
            <!--Grid column-->

        </div>
        <!-- Grid row -->

    </section>
    <!-- Section: Team v.2 -->

  </div>
  
</main>
<!--Main Layout-->