/* You can add global styles to this file, and also import other style files */
.view {
    background: url("https://mdbootstrap.com/img/Photos/Others/img (40).jpg")no-repeat center center;
    background-size: cover;
    height: 100vh;
}

.navbar {
    z-index: 1;
}
.navbar {
    background-color: transparent;
}
.top-nav-collapse {
    background-color: #212529;
}
@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #212529;
    }
}
.font-bold {
    font-weight: 500;
}